*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box
}

body {
  background-color: #ebebeb;
}

.content {
  padding: 7rem 0; 
}

h2 {
  font-size: 20px; 
}

.form-block {
  background: #fff;
  padding: 60px;
}

.content a {
  color: #888;
  text-decoration: underline; 
}

.content .btn-pill {
  border-radius: 30px;
}

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; 
}

.homebtn{
  border-radius: 0px;
}

.homebtn a{
    color: white;
    text-decoration: none;
}

.form-group {
  position: relative;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; 
}

.control .caption {
  position: relative;
  top: .2rem;
  color: black
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 1; 
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; 
}

.control--radio .control__indicator {
  border-radius: 50%; 
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; 
}

.control input:checked ~ .control__indicator {
  background: #38d39f; 
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #4dd8a9; 
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; 
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; 
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; 
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; 
}

/* NOTES */

.notes-body{
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.list-group{
  width: 500px;
  padding: 0px !important;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
  padding-bottom: 1rem !important;
  background-color: white;
}

.notes-body li {
  border: 1px solid rgba(0,0,0,.125) !important;
  padding-bottom: 0px;
  height: auto !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.icons{
  width: auto;
  padding: 5px;
}

#headingAndIconsContainer{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.band {
  color: teal;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin: 6px;
}



#formContainer{
  position: relative;
  width: 300px;
}

#submitBtn{
  position: absolute;
  right: 0px;
  top: 0px;
}
.fas{
  cursor: pointer;
}


.heading{
  width: 100%;
  border: 2px solid black;
}

#updateForm{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

.notes-body a:hover{
  text-decoration: none;
}

.notes-body a{
  text-decoration: none;
}


